.p-message-form{
    margin: $space_30 0;
    padding: $space_20 0;

    &__container{
        position: relative;
    }

    &__area{
        border-radius: 5px;
        box-shadow: 0 0 2px 0 gray;
        box-sizing: border-box;
        font-size: $font-size_default;
        height: 56px;
        max-height: 150px;
        overflow-y: auto;
        padding: $space_default 65px $space_default $space_default;
        vertical-align: middle;
        width: 100%;
    }

    &__button{
        background: none;
        box-sizing: border-box;
        box-shadow: none;
        color: $blue;
        font-size: $font-size_24;
        height: 100%;
        position: absolute;
        transition: all .3s;
        transform: rotate(0deg);
        right: 0;

        &:hover{
            background: none;
            box-shadow: none;
            transition: all .3s;
            transform: rotate(30deg);
        }
    }

    &__count-text{
        margin: $space_5;
        text-align: right;
    }
}