.p-message-list{

    &__container{
        margin-bottom: $space_default;
    }

    &__content{
        max-height: 80px;
        overflow-y: hidden;
    }

    &__link{
        @include mq(sm){
            padding-right: 0;
        }
    }

    &__user-image{
        @include mq(sm){
            display: none;
        }
    }
}