.p-project{
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 $white;
    box-sizing: border-box;
    margin: $space_default $space_default $space_default 0;
    padding: $space_default $space_10;
    width: calc(33% - 15px);

    &__title{
        box-sizing: border-box;
        margin: $space_default auto;
        height: 60px;
        overflow-y: auto;
    }

    &__image{
        height: auto;
        margin: 0 0 $space_default;
        max-height: 250px;
        position: relative;
    }

    &__content{
        max-height: 70px;
        min-height: 50px;
        overflow-y: hidden;
        word-break: normal;
    }

    &__price{
        margin: 0 0 $space_default;
    }
}