.p-project{
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 $white;
    box-sizing: border-box;
    margin: 0 $space_default $space_default 0;
    padding: $space_default $space_10;
    width: calc(33% - 15px);

    @include mq(){
        width: calc(50% - 15px);
    }

    @include mq(sm){
        margin-right: 0;
        width: 100%;
    }

    &__title{
        box-sizing: border-box;
        margin: $space_default auto;
        height: 60px;
        overflow-y: auto;
    }

    &__image{
        height: auto;
        margin: 0 0 $space_default;
        max-height: 250px;
        position: relative;

        &-item{
            max-height: 250px;
        }
    }

    &__content{
        height: 80px;
        overflow-y: hidden;
        word-break: normal;

        @include mq(){
            height: 60px;
        }
    }

    &__price{
        margin: 0 0 $space_default;
    }
}