.p-user{
    margin: 0 0 $space_default;

    &__name{
        margin-bottom: 0;
    }

    &__image-item{
        border-radius: 100%;
    }

    &--me{
        justify-content: flex-start;
        margin-right: 55%;
        width: 45%;
    }

    &--other{
        justify-content: flex-end;
        margin-left: 55%;
        width: 45%;
    }
    
}

