@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/* ================================================================
    Foundation
=================================================================*/

html {
  font-size: 16px;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

body,
a,
button,
li,
ul,
p,
label {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #ebe7e1;
  box-sizing: border-box;
  color: #101010;
  position: relative;
}

a,
button,
input,
textarea {
  cursor: pointer;
  box-sizing: border-box;
}

a {
  color: #44749d;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

img {
  vertical-align: bottom;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  word-break: normal;
}

h1 {
  font-family: "Lobster", cursive;
}

h2 {
  font-size: 1.8rem;
}

@media screen and (max-width:479px) {
  h2 {
    font-size: 1.63rem;
  }
}

h3 {
  font-size: 1.575rem;
}

@media screen and (max-width:479px) {
  h3 {
    font-size: 1.4rem;
  }
}

h4 {
  font-size: 1.28rem;
}

textarea,
input {
  border: none;
}

div {
  box-sizing: border-box;
}

label {
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

/* ================================================================
    Layouts
=================================================================*/

.l-main {
  box-sizing: border-box;
  padding: 40px 30px;
}

@media screen and (max-width:479px) {
  .l-main {
    padding: 30px 15px;
  }
}

/* ================================================================
    Object
=================================================================*/

.c-button {
  background-color: #44749d;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #44749d;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 20px;
}

.c-button:hover {
  background-color: #c6d4e1;
  box-shadow: 0 0 2px 0 #44749d;
  color: #44749d;
  font-weight: bold;
}

.c-box {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

.c-box--avatar {
  border: 1px solid #ededec;
  border-radius: 100%;
  height: 40px;
  margin: 0 5px;
  padding: 1px;
  width: 40px;
}

.c-box--form {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 white;
  box-sizing: border-box;
  margin: 40px auto;
  max-width: 980px;
  padding: 40px 30px;
  width: 100%;
}

.c-box--form-container {
  margin: 30px 0;
}

.c-box--flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.c-box--flex-1 {
  justify-content: flex-start;
}

.c-box--flex-2 {
  justify-content: flex-end;
}

.c-box--flex-column {
  flex-direction: column;
}

.c-box--image {
  margin: 0 0 15px 0;
  width: 100%;
}

.c-box--link {
  text-align: right;
  width: 100%;
}

.c-box--message {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #ededec;
  margin-bottom: 15px;
  padding: 20px 15px;
  width: 100%;
}

.c-error {
  border: 2px solid #FA7070;
}

.c-error--text {
  border: none;
  color: #FA7070;
  font-weight: bold;
  margin-top: 5px;
}

.c-icon {
  margin: 0 5px 0 0;
}

.c-icon--title {
  color: #44749d;
}

.c-image {
  border-radius: 5px;
  height: 100%;
  vertical-align: bottom;
  width: 100%;
}

.c-input {
  background-color: #ededec;
  box-shadow: 0 0 3px 0 #bdb8ad;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
}

.c-input--remember {
  background: none;
  box-shadow: none;
  width: auto;
}

.c-label {
  display: block;
  margin: 0 0 10px 0;
  width: 100%;
}

.c-link {
  padding: 15px 20px;
}

.c-link:hover {
  color: #FA7070;
}

.c-message {
  border-radius: 5px;
  max-width: 45%;
  padding: 10px 15px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.c-message--me {
  background: #ebe7e1;
  margin-right: auto;
  text-align: left;
}

.c-message--me:after {
  border: solid transparent;
  border-bottom-color: #ebe7e1;
  border-bottom-width: 10px;
  border-left-width: 0;
  border-right-width: 10px;
  border-top-width: 10px;
  bottom: 100%;
  content: "";
  height: 0;
  left: 15%;
  margin-left: 10px;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.c-message--other {
  background: #c6d4e1;
  margin-left: auto;
  text-align: right;
}

.c-message--other:after {
  border: solid transparent;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 0;
  border-top-width: 10px;
  bottom: 100%;
  height: 0;
  left: 85%;
  margin-left: -10px;
  content: "";
  pointer-events: none;
  position: absolute;
  border-bottom-color: #c6d4e1;
  width: 0;
}

.c-select {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 gray;
  cursor: pointer;
  padding: 10px 5px;
}

.c-text {
  line-height: 1.25;
  margin-bottom: 15px;
  word-break: normal;
}

.c-text--type {
  background: #ededec;
  border-radius: 5px 0 0 0;
  font-size: 14px;
  left: 0;
  margin-bottom: 0;
  position: absolute;
  padding: 5px;
  top: 0;
}

.c-text--price {
  color: #FA7070;
  font-size: 22px;
  font-weight: bold;
}

.c-text--right {
  text-align: right;
}

.c-textarea {
  background-color: #ededec;
  box-shadow: 0 0 3px 0 #bdb8ad;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
}

.c-title {
  font-weight: bold;
  margin: 25px auto;
  text-align: center;
}

.c-title--sub-title {
  margin: 40px 0;
}

.p-alert {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  position: relative;
  padding: 0.75rem 1.25rem;
  text-align: center;
}

.p-alert.is-success {
  background-color: #dcf6d4;
  border-color: #e5eee2;
  color: #54654f;
}

.p-alert.is-eeror {
  background-color: #fee2e2;
  border-color: #fed7d7;
  color: #823a3a;
}

.p-avatar {
  margin: 0 auto;
  width: 100%;
}

.p-avatar__container {
  background: white;
  border: 1px dashed gray;
  border-radius: 5px;
  color: gray;
  display: block;
  height: 300px;
  line-height: 300px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

@media screen and (max-width:479px) {
  .p-avatar__container {
    height: 230px;
    line-height: 230px;
    width: 100%;
  }
}

.p-avatar__container.is-preview {
  border: none;
  box-shadow: 0 0 5px 3px gray;
}

@media screen and (max-width:767px) {
  .p-avatar__container.is-preview {
    box-shadow: 0 0 5px 0 gray;
  }
}

.p-avatar__container.is-dragover {
  border-color: #000;
  background-color: #f0f0f0;
  color: #000;
}

.p-avatar__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.p-avatar__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-counter {
  margin: 0 0 30px 0;
}

.p-counter__text {
  text-align: right;
}

.p-delete {
  margin: -50px auto 40px;
  padding: 0 30px 40px;
}

.p-detail {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #ededec;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 980px;
  padding: 30px 40px;
  width: 100%;
}

.p-detail__share-button {
  background: #000;
  border-radius: 20px;
  box-shadow: 0 0 2px 0 gray;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
}

.p-detail__share-button:hover {
  background: white;
  border: 1px solid #000;
  color: #101010;
}

.p-detail__dm {
  margin: 0 15px 0 0;
}

.p-detail__dm-link {
  background: #44749d;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 0 2px 0 gray;
  color: white;
  font-size: 14px;
  padding: 15px 20px;
}

.p-detail__dm-link:hover {
  background: #c6d4e1;
  border: 1px solid #44749d;
  color: #44749d;
  font-weight: bold;
}

.p-detail__container {
  margin: 40px auto;
}

.p-detail__thumbnail {
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #ededec;
  margin: 0 0 30px 0;
}

.p-detail__content {
  margin: 30px 0;
}

.p-detail-action {
  margin: 30px auto;
  max-width: 980px;
  text-align: right;
  width: 100%;
}

.p-detail-action__link {
  background-color: #44749d;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #44749d;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 20px;
}

.p-detail-action__link:hover {
  background-color: #c6d4e1;
  box-shadow: 0 0 2px 0 #44749d;
  color: #44749d;
}

.p-filter {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.p-filter__label {
  margin: 0 10px 0 0;
  text-align: right;
}

.p-footer {
  text-align: center;
}

.p-forgot {
  margin-top: -10px;
}

.p-forgot__link {
  padding-left: 0;
}

.p-list__container {
  padding: 40px 0 40px 15px;
  margin-right: -15px;
}

@media screen and (max-width:767px) {
  .p-list__container {
    margin-right: 0;
  }
}

@media screen and (max-width:479px) {
  .p-list__container {
    padding-left: 0;
    margin-right: 0;
  }
}

.p-login {
  padding: 60px 80px;
}

@media screen and (max-width:767px) {
  .p-login {
    padding: 40px 30px;
  }
}

.p-message {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #ededec;
  max-height: 500px;
  overflow-y: auto;
}

.p-message__container {
  margin: 0 0 15px;
  padding: 20px 10px;
}

.p-message-list__container {
  margin-bottom: 15px;
}

.p-message-list__content {
  max-height: 80px;
  overflow-y: hidden;
}

@media screen and (max-width:479px) {
  .p-message-list__link {
    padding-right: 0;
  }
}

@media screen and (max-width:479px) {
  .p-message-list__user-image {
    display: none;
  }
}

.p-message-form {
  margin: 30px 0;
  padding: 20px 0;
}

.p-message-form__container {
  position: relative;
}

.p-message-form__area {
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #ededec;
  box-sizing: border-box;
  font-size: 16px;
  height: 56px;
  max-height: 150px;
  overflow-y: auto;
  padding: 15px 65px 15px 15px;
  vertical-align: middle;
  width: 100%;
}

.p-message-form__button {
  background: none;
  box-sizing: border-box;
  box-shadow: none;
  color: #44749d;
  font-size: 24px;
  height: 100%;
  position: absolute;
  transition: all 0.3s;
  transform: rotate(0deg);
  right: 0;
}

.p-message-form__button:hover {
  background: none;
  box-shadow: none;
  transition: all 0.3s;
  transform: rotate(30deg);
}

.p-message-form__count-text {
  margin: 5px;
  text-align: right;
}

.p-mypage-list__container {
  margin-right: -15px;
  padding: 0 0 0 15px;
}

.p-mypage-list__container--link {
  margin-top: 15px;
}

@media screen and (max-width:767px) {
  .p-mypage-list__container {
    padding: 0;
  }
}

@media screen and (max-width:479px) {
  .p-mypage-list__container {
    margin: 0;
  }
}

.p-mypage-list__link {
  margin-right: 5px;
}

.p-mypage-list__none {
  margin: 50px 20px;
}

.p-user {
  margin: 0 0 15px;
}

.p-user__name {
  margin-bottom: 0;
}

.p-user__image-item {
  border-radius: 100%;
}

.p-user--me {
  justify-content: flex-start;
  margin-right: 55%;
  width: 45%;
}

.p-user--other {
  justify-content: flex-end;
  margin-left: 55%;
  width: 45%;
}

.p-page-visual {
  padding: 40px 15px;
}

.p-pagination {
  padding-left: 15px;
}

.p-pagination__button {
  background: #c6d4e1;
  box-shadow: none;
  margin: 0 5px;
  padding: 10px 15px;
}

.p-pagination__button.active {
  background: #44749d;
}

.p-pagination__button:hover {
  background: #FA7070;
  color: white;
}

.p-project {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 white;
  box-sizing: border-box;
  margin: 0 15px 15px 0;
  padding: 15px 10px;
  width: calc(33% - 15px);
}

@media screen and (max-width:767px) {
  .p-project {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width:479px) {
  .p-project {
    margin-right: 0;
    width: 100%;
  }
}

.p-project__title {
  box-sizing: border-box;
  margin: 15px auto;
  height: 60px;
  overflow-y: auto;
}

.p-project__image {
  height: auto;
  margin: 0 0 15px;
  max-height: 250px;
  position: relative;
}

.p-project__image-item {
  max-height: 250px;
}

.p-project__content {
  height: 80px;
  overflow-y: hidden;
  word-break: normal;
}

@media screen and (max-width:767px) {
  .p-project__content {
    height: 60px;
  }
}

.p-project__price {
  margin: 0 0 15px;
}

.p-public-message {
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 gray;
  margin: 50px auto;
  padding: 20px 15px;
}

.p-public-message__toggle-button {
  background-color: #c6d4e1;
  box-shadow: 0 0 3px 0 #ededec;
  color: black;
  display: block;
  font-size: 14px;
  margin: 20px 0 20px auto;
  padding: 5px 10px;
  text-align: center;
  width: 150px;
}

.p-public-message__toggle-button:hover {
  background-color: #ededec;
  color: #44749d;
}

.p-register {
  padding: 60px 80px;
}

@media screen and (max-width:767px) {
  .p-register {
    padding: 40px 30px;
  }
}

.p-remember {
  align-items: center;
  display: flex;
}

.p-remember__input {
  margin: 0 10px 0 0;
  width: auto;
}

.p-remember__label {
  margin-bottom: 0;
}

.p-submit {
  text-align: right;
}

.p-submit__button--delete {
  background: gray;
  box-shadow: 0 0 8px 0 #ededec;
  color: white;
}

.p-submit__button--delete:hover {
  background: white;
  border: 1px solid #FA7070;
  box-shadow: 0 0 8px 0 #ededec;
  color: #FA7070;
}

.p-thumbnail {
  margin: 0 auto;
  width: 100%;
}

.p-thumbnail__container {
  background: white;
  border: 1px dashed gray;
  border-radius: 5px;
  color: gray;
  display: block;
  height: 300px;
  line-height: 300px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

@media screen and (max-width:479px) {
  .p-thumbnail__container {
    height: 230px;
    line-height: 230px;
    width: 100%;
  }
}

.p-thumbnail__container.is-preview {
  border: none;
  box-shadow: 0 0 5px 3px gray;
}

@media screen and (max-width:767px) {
  .p-thumbnail__container.is-preview {
    box-shadow: 0 0 5px 0 gray;
  }
}

.p-thumbnail__container.is-dragover {
  border-color: #000;
  background-color: #f0f0f0;
  color: #000;
}

.p-thumbnail__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.p-thumbnail__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-user {
  margin: 0 0 15px;
}

.p-user__name {
  margin-bottom: 0;
}

.p-user__image-item {
  border-radius: 100%;
}

.p-user--me {
  justify-content: flex-start;
  margin-right: 55%;
  width: 45%;
}

.p-user--other {
  justify-content: flex-end;
  margin-left: 55%;
  width: 45%;
}

.p-verify {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 white;
  padding: 50px 60px;
  text-align: center;
}

@media screen and (max-width:767px) {
  .p-verify {
    text-align: left;
  }
}

@media screen and (max-width:479px) {
  .p-verify {
    padding: 40px 20px;
    text-align: left;
  }
}

.p-verify__link {
  font-weight: bold;
  padding: 0;
}

.p-withdraw__container {
  padding: 40px 0;
  text-align: center;
}

.p-withdraw__text {
  color: #FA7070;
  font-weight: bold;
  margin-bottom: 30px;
}

.p-withdraw__button {
  width: 30%;
}

@media screen and (max-width:767px) {
  .p-withdraw__button {
    max-width: 400px;
    width: 100%;
  }
}

