@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/* ================================================================
    Foundation
=================================================================*/

html {
  font-size: 16px;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

body,
a,
button,
li,
ul,
p,
label {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: rgba(255, 255, 170, 0.8);
  box-sizing: border-box;
  color: #06070e;
  position: relative;
}

a,
button,
input,
textarea {
  cursor: pointer;
  box-sizing: border-box;
}

a {
  color: #235789;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

img {
  vertical-align: bottom;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  word-break: normal;
}

h1 {
  font-family: "Lobster", cursive;
}

h2 {
  font-size: 1.8rem;
}

@media screen and (max-width:479px) {
  h2 {
    font-size: 1.63rem;
  }
}

h3 {
  font-size: 1.575rem;
}

@media screen and (max-width:479px) {
  h3 {
    font-size: 1.4rem;
  }
}

h4 {
  font-size: 1.28rem;
}

textarea,
input {
  border: none;
}

div {
  box-sizing: border-box;
}

label {
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

/* ================================================================
    Layouts
=================================================================*/

.l-footer {
  width: 100%;
}

.l-header {
  width: 100%;
}

.l-main {
  box-sizing: border-box;
  min-height: 500px;
  padding: 40px 30px;
}

@media screen and (max-width:479px) {
  .l-main {
    padding: 30px 15px;
  }
}

/* ================================================================
    Object
=================================================================*/

.c-button {
  background-color: #235789;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #235789;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 20px;
}

@media screen and (max-width:479px) {
  .c-button {
    font-size: 15px;
    padding: 10px 15px;
  }
}

.c-button:hover {
  background-color: #c6d4e1;
  box-shadow: 0 0 2px 0 #235789;
  color: #235789;
  font-weight: bold;
}

.c-box {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

.c-box--avatar {
  border: 1px solid #ededec;
  border-radius: 100%;
  height: 40px;
  margin: 0 5px;
  padding: 1px;
  width: 40px;
}

.c-box--form {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 white;
  box-sizing: border-box;
  margin: 40px auto;
  max-width: 980px;
  padding: 40px 30px;
  width: 100%;
}

.c-box--form-container {
  margin: 30px 0;
}

.c-box--flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.c-box--flex-1 {
  justify-content: flex-start;
}

.c-box--flex-2 {
  justify-content: flex-end;
}

.c-box--flex-3 {
  justify-content: center;
}

.c-box--flex-4 {
  justify-content: space-evenly;
}

.c-box--flex-column {
  flex-direction: column;
}

.c-box--image {
  margin: 0 0 15px 0;
  width: 100%;
}

.c-box--link {
  text-align: right;
  max-width: 980px;
  margin: 0 auto;
  width: 100%;
}

.c-box--message {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #ededec;
  margin-bottom: 15px;
  padding: 20px 15px;
  width: 100%;
}

.c-error {
  border: 2px solid #ed1c24;
}

.c-error--text {
  border: none;
  color: #ed1c24;
  font-weight: bold;
  margin-top: 5px;
}

.c-icon {
  margin: 0 5px 0 0;
}

.c-icon--title {
  color: #352652;
}

.c-image {
  aspect-ratio: 3/2;
  border-radius: 5px;
  height: 100%;
  vertical-align: bottom;
  width: 100%;
}

.c-input {
  background-color: #ededec;
  box-shadow: 0 0 3px 0 #bdb8ad;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
}

.c-input--remember {
  background: none;
  box-shadow: none;
  width: auto;
}

.c-label {
  display: block;
  margin: 0 0 10px 0;
  width: 100%;
}

.c-link {
  padding: 15px 20px;
}

.c-link:hover {
  color: #ed1c24;
}

.c-select {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 gray;
  cursor: pointer;
  padding: 10px 5px;
}

.c-talk {
  border-radius: 5px;
  max-width: 45%;
  padding: 10px 15px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width:767px) {
  .c-talk {
    max-width: inherit;
  }
}

.c-talk--me {
  background: #ebe7e1;
  margin-right: auto;
  text-align: left;
}

.c-talk--me:after {
  border: solid transparent;
  border-bottom-color: #ebe7e1;
  border-bottom-width: 10px;
  border-left-width: 0;
  border-right-width: 10px;
  border-top-width: 10px;
  bottom: 100%;
  content: "";
  height: 0;
  left: 15%;
  margin-left: 10px;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.c-talk--other {
  background: #c6d4e1;
  margin-left: auto;
  text-align: right;
}

.c-talk--other:after {
  border: solid transparent;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 0;
  border-top-width: 10px;
  bottom: 100%;
  height: 0;
  left: 85%;
  margin-left: -10px;
  content: "";
  pointer-events: none;
  position: absolute;
  border-bottom-color: #c6d4e1;
  width: 0;
}

.c-text {
  line-height: 1.25;
  margin-bottom: 15px;
  word-break: normal;
}

.c-text--type {
  background: #ededec;
  border-radius: 5px 0 0 0;
  font-size: 14px;
  left: 0;
  margin-bottom: 0;
  position: absolute;
  padding: 5px;
  top: 0;
}

.c-text--price {
  color: #ed1c24;
  font-size: 22px;
  font-weight: bold;
}

.c-text--right {
  text-align: right;
}

.c-text--attention {
  color: #ed1c24;
  font-weight: bold;
}

.c-textarea {
  background-color: #ededec;
  box-shadow: 0 0 3px 0 #bdb8ad;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
}

.c-title {
  font-weight: bold;
  margin: 25px auto;
  text-align: center;
}

.c-title--sub-title {
  margin: 40px 0;
}

.p-about {
  background: white;
  padding: 40px 30px;
}

.p-about__title {
  color: #352652;
}

.p-about__title--sub {
  color: #feb3eb;
  font-weight: bold;
  margin: 0 0 30px;
  text-align: center;
}

.p-about__box {
  margin: 15px 10px;
  max-width: calc(33% - 30px);
}

@media screen and (max-width:767px) {
  .p-about__box {
    max-width: 100%;
  }
}

@media screen and (max-width:767px) {
  .p-about__container {
    flex-direction: column;
  }
}

.p-about__image {
  position: relative;
  z-index: 0;
}

.p-about__image--item {
  border-radius: 100%;
}

.p-about__image--shadow {
  background: #feb3eb;
  border-radius: 100%;
  bottom: -15px;
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.p-about__content {
  margin: 15px 0;
}

.p-about__content--title {
  color: #352652;
}

.p-about__content--text {
  min-height: 60px;
}

.p-action {
  position: relative;
}

@media screen and (max-width:767px) {
  .p-action__image {
    display: none;
  }
}

.p-action__image--sp {
  display: none;
}

@media screen and (max-width:767px) {
  .p-action__image--sp {
    display: block;
  }
}

.p-action__text {
  bottom: 13%;
  left: 7%;
  position: absolute;
  text-align: center;
  width: 30%;
}

@media screen and (max-width:767px) {
  .p-action__text {
    bottom: 5%;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width:479px) {
  .p-action__text {
    bottom: 4%;
    font-size: 14px;
  }
}

.p-action__button {
  background: #352652;
  bottom: 20%;
  font-size: 20px;
  left: 7%;
  position: absolute;
  width: 30%;
}

@media screen and (max-width:1000px) {
  .p-action__button {
    font-size: 18px;
  }
}

@media screen and (max-width:767px) {
  .p-action__button {
    bottom: 10%;
    font-size: 16px;
    left: 25%;
    right: 25%;
    width: 50%;
  }
}

.p-action__button :hover {
  color: #352652;
}

.p-action__link {
  color: white;
  font-weight: bold;
  padding: 0 20px;
}

.p-action__link:hover {
  color: #352652;
}

.p-alert {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  position: relative;
  padding: 0.75rem 1.25rem;
  text-align: center;
}

.p-alert.is-success {
  background-color: #dcf6d4;
  border-color: #e5eee2;
  color: #54654f;
}

.p-alert.is-error {
  background-color: #fee2e2;
  border-color: #fed7d7;
  color: #823a3a;
}

.p-avatar {
  margin: 0 auto;
  width: 100%;
}

.p-avatar__container {
  background: white;
  border: 1px dashed gray;
  border-radius: 5px;
  color: gray;
  display: block;
  height: 300px;
  line-height: 300px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

@media screen and (max-width:479px) {
  .p-avatar__container {
    height: 230px;
    line-height: 230px;
    width: 100%;
  }
}

.p-avatar__container.is-preview {
  border: none;
  box-shadow: 0 0 5px 3px gray;
}

@media screen and (max-width:767px) {
  .p-avatar__container.is-preview {
    box-shadow: 0 0 5px 0 gray;
  }
}

.p-avatar__container.is-dragover {
  border-color: #000;
  background-color: #f0f0f0;
  color: #000;
}

.p-avatar__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.p-avatar__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-case {
  background: rgba(254, 179, 235, 0.3);
  padding: 40px 0;
}

.p-case__title {
  color: #352652;
}

.p-case__title--sub {
  color: white;
  font-weight: bold;
  margin: 0 0 30px;
  text-align: center;
}

.p-case__container {
  padding: 40px 30px;
}

@media screen and (max-width:479px) {
  .p-case__container {
    padding: 0 25px;
  }
}

.p-case__box {
  max-width: 100%;
}

.p-catch {
  background: #ffffaa;
}

@media screen and (max-width:767px) {
  .p-catch__image {
    display: none;
  }
}

.p-catch__image--sp {
  display: none;
}

@media screen and (max-width:767px) {
  .p-catch__image--sp {
    display: block;
  }
}

.p-catch__container {
  padding: 40px 20px;
}

.p-catch__text {
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width:767px) {
  .p-catch__text {
    font-size: 16px;
  }
}

.p-catch__text--big {
  color: #352652;
  font-size: 24px;
}

@media screen and (max-width:767px) {
  .p-catch__text--big {
    font-size: 22px;
  }
}

.p-counter {
  margin: 0 0 30px 0;
}

.p-counter__text {
  text-align: right;
}

.p-delete {
  margin: -50px auto 40px;
  padding: 0 30px 40px;
}

.p-detail {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #ededec;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 980px;
  padding: 30px 40px;
  width: 100%;
}

@media screen and (max-width:767px) {
  .p-detail {
    padding: 20px 10px;
  }
}

.p-detail__share-button {
  background: #000;
  border-radius: 20px;
  box-shadow: 0 0 2px 0 gray;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
}

.p-detail__share-button:hover {
  background: white;
  border: 1px solid #000;
  color: #06070e;
}

.p-detail__dm {
  margin: 0 15px 0 0;
}

@media screen and (max-width:767px) {
  .p-detail__dm {
    margin: 25px 15px 25px 0;
  }
}

.p-detail__dm-button {
  border-radius: 20px;
  box-shadow: 0 0 2px 0 gray;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
}

.p-detail__dm-button:hover {
  background: #c6d4e1;
  border: 1px solid #235789;
  color: #235789;
  font-weight: bold;
}

.p-detail__container {
  margin: 40px auto;
}

.p-detail__thumbnail {
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #ededec;
  margin: 0 0 30px 0;
}

.p-detail__content {
  margin: 30px 0;
}

.p-detail-action {
  margin: 50px auto;
  max-width: 980px;
  text-align: right;
  width: 100%;
}

.p-detail-action__link {
  background-color: #235789;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #235789;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 20px;
}

.p-detail-action__link:hover {
  background-color: #c6d4e1;
  box-shadow: 0 0 2px 0 #235789;
  color: #235789;
}

.p-filter {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.p-filter__label {
  margin: 0 10px 0 0;
  text-align: right;
}

.p-footer {
  background-color: #352652;
  color: #fff;
  font-size: 12px;
  font-family: "Lobster", cursive;
  padding: 10px 0;
  text-align: center;
}

.p-footer.is-small-contents {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.p-forgot {
  margin-top: -10px;
}

.p-forgot__link {
  padding-left: 0;
}

.p-header {
  align-items: center;
  background: #352652;
  color: white;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  padding: 10px;
  position: fixed;
  transition: all 0.5s;
  width: 100%;
  z-index: 3;
}

.p-header.is-bg-change {
  opacity: 1;
  transition: all 0.5s;
}

.p-header__title {
  margin: 0;
}

.p-header__link {
  color: white;
}

@media screen and (max-width:767px) {
  .p-hero__image {
    display: none;
  }
}

.p-hero__image--sp {
  display: none;
}

@media screen and (max-width:767px) {
  .p-hero__image--sp {
    display: block;
  }
}

.p-home {
  margin: 0 -30px -40px;
}

@media screen and (max-width:479px) {
  .p-home {
    margin: 0 -15px -30px;
  }
}

.p-list__container {
  padding: 40px 0 40px 15px;
  margin-right: -15px;
}

@media screen and (max-width:767px) {
  .p-list__container {
    margin-right: 0;
  }
}

@media screen and (max-width:479px) {
  .p-list__container {
    padding-left: 0;
    margin-right: 0;
  }
}

.p-list__wrap {
  box-sizing: border-box;
  margin: 30px auto 0;
  padding: 30px 20px;
}

@media screen and (max-width:479px) {
  .p-list__wrap {
    margin: 30px 0 20px;
    padding: 10px 20px;
  }
}

.p-list__none {
  font-weight: bold;
  margin: 40px 0;
}

.p-login {
  padding: 60px 80px;
}

@media screen and (max-width:767px) {
  .p-login {
    padding: 40px 30px;
  }
}

.p-menu {
  display: none;
  height: 40px;
  width: 40px;
}

@media screen and (max-width:767px) {
  .p-menu {
    display: block;
    position: absolute;
    right: 10px;
    z-index: 10;
  }
}

.p-menu__button {
  background: none;
}

.p-message {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 gray;
  max-height: 750px;
  min-height: 300px;
  overflow-y: auto;
}

.p-message__container {
  margin: 0 0 15px;
  padding: 20px 10px;
}

.p-message-list__container {
  margin-bottom: 15px;
}

.p-message-list__text {
  max-height: 80px;
  overflow-y: hidden;
}

@media screen and (max-width:479px) {
  .p-message-list__link {
    padding-right: 0;
  }
}

.p-message-list__link-box {
  max-width: inherit;
}

.p-message-list__user-image-item {
  border-radius: 100%;
}

.p-message-form {
  margin: 30px 0;
  padding: 20px 0;
}

.p-message-form__container {
  position: relative;
}

.p-message-form__area {
  border-radius: 5px;
  box-shadow: 0 0 2px 0 gray;
  box-sizing: border-box;
  font-size: 16px;
  height: 56px;
  max-height: 150px;
  overflow-y: auto;
  padding: 15px 65px 15px 15px;
  vertical-align: middle;
  width: 100%;
}

.p-message-form__button {
  background: none;
  box-sizing: border-box;
  box-shadow: none;
  color: #235789;
  font-size: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  transform: rotate(0deg);
  right: 0;
}

.p-message-form__button:hover {
  background: none;
  box-shadow: none;
  transition: all 0.3s;
  transform: rotate(30deg);
}

.p-message-form__count-text {
  margin: 5px;
  text-align: right;
}

.p-mypage {
  padding: 60px 0;
}

@media screen and (max-width:767px) {
  .p-mypage {
    padding: 40px 0;
  }
}

.p-mypage-list__container {
  margin-right: -15px;
  padding: 0 0 0 15px;
}

.p-mypage-list__container--link {
  margin-top: 15px;
}

@media screen and (max-width:767px) {
  .p-mypage-list__container {
    padding: 0;
  }
}

@media screen and (max-width:479px) {
  .p-mypage-list__container {
    margin: 0;
  }
}

.p-mypage-list__link {
  margin-right: 5px;
}

.p-mypage-list__none {
  margin: 50px 20px;
}

.p-user {
  margin: 0 0 15px;
}

.p-user__name {
  margin-bottom: 0;
}

@media screen and (max-width:479px) {
  .p-user__name-link {
    padding: 5px 10px;
  }
}

.p-user__image-item {
  border-radius: 100%;
}

.p-user.is-me {
  justify-content: flex-start;
  margin-right: 55%;
  width: 45%;
}

@media screen and (max-width:767px) {
  .p-user.is-me {
    margin-right: 0;
    width: 100%;
  }
}

.p-user.is-other {
  justify-content: flex-end;
  margin-left: 55%;
  width: 45%;
}

@media screen and (max-width:767px) {
  .p-user.is-other {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width:767px) {
  .p-nav {
    display: none;
  }

  .p-nav.is-open {
    background: #352652;
    display: block;
    height: auto;
    left: 0;
    max-height: 100vh;
    overflow-y: auto;
    padding: 45px 0;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
  }
}

.p-nav__list {
  align-items: center;
  display: flex;
}

@media screen and (max-width:767px) {
  .p-nav__list {
    flex-direction: column;
  }
}

@media screen and (max-width:767px) {
  .p-nav__item {
    padding: 20px 0;
  }
}

.p-nav__link {
  color: white;
}

.p-nav__link:hover {
  color: #feb3eb;
  font-weight: bold;
}

@media screen and (max-width:1000px) {
  .p-nav__link {
    padding: 10px 15px;
  }
}

.p-page-visual {
  padding: 40px 15px;
}

.p-pagination {
  padding-left: 15px;
}

.p-pagination__button {
  background: #c6d4e1;
  box-shadow: none;
  margin: 0 5px;
  padding: 10px 15px;
}

.p-pagination__button.active {
  background: #235789;
}

.p-pagination__button:hover {
  background: #ed1c24;
  color: white;
}

.p-project {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 white;
  box-sizing: border-box;
  margin: 0 15px 15px 0;
  padding: 15px 10px;
  width: calc(33% - 15px);
}

@media screen and (max-width:767px) {
  .p-project {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width:479px) {
  .p-project {
    margin-right: 0;
    width: 100%;
  }
}

.p-project__title {
  box-sizing: border-box;
  margin: 15px auto;
  height: 60px;
  overflow-y: auto;
}

.p-project__image {
  height: auto;
  margin: 0 0 15px;
  max-height: 250px;
  position: relative;
}

.p-project__image-item {
  height: 250px;
}

@media screen and (max-width:1000px) {
  .p-project__image-item {
    height: 200px;
  }
}

@media screen and (max-width:479px) {
  .p-project__image-item {
    height: 250px;
  }
}

.p-project__content {
  height: 80px;
  overflow-y: auto;
  word-break: normal;
}

@media screen and (max-width:767px) {
  .p-project__content {
    height: 60px;
  }
}

.p-project__price {
  margin: 0 0 15px;
}

.p-public-message {
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 gray;
  margin: 50px auto;
  padding: 20px 15px;
}

.p-public-message__toggle-button {
  background-color: #c6d4e1;
  box-shadow: 0 0 3px 0 #ededec;
  color: black;
  display: block;
  font-size: 14px;
  margin: 20px 0 20px auto;
  padding: 5px 10px;
  text-align: center;
  width: 150px;
}

.p-public-message__toggle-button:hover {
  background-color: #ededec;
  color: #235789;
}

.p-register {
  padding: 60px 80px;
}

@media screen and (max-width:767px) {
  .p-register {
    padding: 40px 30px;
  }
}

.p-remember {
  align-items: center;
  display: flex;
}

.p-remember__input {
  margin: 0 10px 0 0;
  width: auto;
}

.p-remember__label {
  margin-bottom: 0;
}

.p-submit {
  text-align: right;
}

.p-submit__button--delete {
  background: gray;
  box-shadow: 0 0 8px 0 #ededec;
  color: white;
}

.p-submit__button--delete:hover {
  background: white;
  border: 1px solid #ed1c24;
  box-shadow: 0 0 8px 0 #ededec;
  color: #ed1c24;
}

.p-thumbnail {
  margin: 0 auto;
  width: 100%;
}

.p-thumbnail__container {
  background: white;
  border: 1px dashed gray;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
  display: block;
  height: 300px;
  line-height: 300px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

@media screen and (max-width:479px) {
  .p-thumbnail__container {
    height: 230px;
    line-height: 230px;
    width: 100%;
  }
}

.p-thumbnail__container.is-preview {
  border: none;
  box-shadow: 0 0 5px 3px gray;
}

@media screen and (max-width:767px) {
  .p-thumbnail__container.is-preview {
    box-shadow: 0 0 5px 0 gray;
  }
}

.p-thumbnail__container.is-dragover {
  border-color: #000;
  background-color: #f0f0f0;
  color: #000;
}

.p-thumbnail__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.p-thumbnail__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-user-info {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 gray;
  padding: 40px 30px;
}

.p-user-info__name {
  font-size: 24px;
  margin-bottom: 40px;
}

.p-user-info__count-text {
  font-weight: bold;
  text-align: center;
}

.p-user-info__count--post {
  margin: 0 10px;
}

.p-user-info__introduction {
  margin: 40px 0;
}

.p-user-info__message {
  font-weight: bold;
}

.p-user {
  margin: 0 0 15px;
}

.p-user__name {
  margin-bottom: 0;
}

@media screen and (max-width:479px) {
  .p-user__name-link {
    padding: 5px 10px;
  }
}

.p-user__image-item {
  border-radius: 100%;
}

.p-user.is-me {
  justify-content: flex-start;
  margin-right: 55%;
  width: 45%;
}

@media screen and (max-width:767px) {
  .p-user.is-me {
    margin-right: 0;
    width: 100%;
  }
}

.p-user.is-other {
  justify-content: flex-end;
  margin-left: 55%;
  width: 45%;
}

@media screen and (max-width:767px) {
  .p-user.is-other {
    margin-left: 0;
    width: 100%;
  }
}

.p-verify {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 white;
  padding: 50px 60px;
  text-align: center;
}

@media screen and (max-width:767px) {
  .p-verify {
    text-align: left;
  }
}

@media screen and (max-width:479px) {
  .p-verify {
    padding: 40px 20px;
    text-align: left;
  }
}

.p-verify__link {
  font-weight: bold;
  padding: 0;
}

.p-withdraw__container {
  padding: 40px 0;
  text-align: center;
}

.p-withdraw__text {
  color: #ed1c24;
  font-weight: bold;
  margin-bottom: 30px;
}

.p-withdraw__button {
  width: 30%;
}

@media screen and (max-width:767px) {
  .p-withdraw__button {
    max-width: 400px;
    width: 100%;
  }
}

.u-width--100 {
  width: 100%;
}

